* {
    box-sizing: border-box;
}
.header { 
    color: #9356DC; 
    font-family: 'Merriweather', serif;
    font-family: 'Raleway', sans-serif; 
}

.BookMenu {
    color:#9356DC;
}


.Explore {
    border-style: solid;
    border-radius: 20px;
    border: #9356DC;
}

.Choose {
    border-style: solid;
    border-radius: 20px;
    border: #100221;
    box-shadow: 12px 27px 15px -3px rgba(0,0,0,0.1);
}

.FoodCards {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    height: 120px;
    width: 100%;
    box-shadow: 12px 27px 15px -3px rgba(0,0,0,0.1);
}