$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0; 
$midBorderRadius: 40px;
$shadow: 0px 5px 30px -3px rgba(0, 0, 0, 0.3);
$logoFont: 'Shrikhand';
$card-width: 300px;
$card-height: 200px;


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenterCol {
    @include flexCenter(column);
}

@mixin flexCenterRow {
    @include flexCenter(row);
}

@mixin button {
    height: 3em;
        border-style: solid;
        border: $primaryColor;
        border-radius: $midBorderRadius;
        color: white;
        background: linear-gradient(170deg, $secondaryColor, $primaryColor);
        box-shadow: $shadow;
        padding-left: 4.5em;
        padding-right: 4.5em;
    }

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}


header {
    @include flexCenterCol;
    background-color: #f1f1f1e7;
    .logo {
        @include flexCenterCol;
        background-color: white;
        width: 100%;
        font-size: large;
        height: 3em;
            h1 {
        font-family: $logoFont !important;
        }
    }
}

.Dishes {
    @include flexCenterCol;
    gap: 2em;
    justify-content: left;
    align-items: flex-start;
    h2 {
        font-family: $logoFont;
        font-weight: 200;
    }
        .click {
            @include flexCenterRow;
            border-style: solid;
            border-radius: 20px;
            border: #100221;
            box-shadow: $shadow;
            height: 4.5em;
            width: 100%;
            font-weight: 600;
            justify-content: left;
            align-items: flex-start;
            .click--item {
                width: 100%;
                h3{
                    margin: 0.5em;
                    
                }
                p {
                    margin-left: 0.5em;
                    margin-top: 0em;
                    font-weight: 100;
                }
            }
            .click--price {
                padding: 1.5em;
            }
        }


}


.OrderButton {
    @include flexCenterCol;
    padding: 3em;
    .btnExplore {
        @include flexCenterCol;
         @include button;
}
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: #424141;
    color: white;
    width: 100%;
    padding: 1em;
    gap: 0.5em;
        h4 {
            font-family: $logoFont;
            font-weight: 20;
            margin: 0.2em;
            padding-left: 0.5em;
        }
        li {
            list-style: none;
            padding-left: 1em;
            gap: 5em;
        }
    }

