h4,
p {
  margin: 0px !important;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

header,
body {
  margin: 0px;
}

.heartGradientFull {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
}

.HeartWrapper {
  display: grid;
}
.HeartWrapper .fa-regular,
.HeartWrapper .fa-solid {
  grid-column: 1;
  grid-row: 1;
}
.HeartWrapper .fa-solid {
  opacity: 0%;
}
.HeartWrapper .fa-regular {
  color: black;
}
.HeartWrapper:hover .fa-solid, .HeartWrapper:active .fa-solid {
  opacity: 100%;
}
.HeartWrapper:hover .fa-regular, .HeartWrapper:active .fa-regular {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 3px;
  background-color: #5ac0a4;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.heroimage {
  position: absolute;
  height: 50em;
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(218, 216, 216, 0.9058823529);
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  font-size: large;
  height: 3em;
}
header .logo h1 {
  font-family: "Shrikhand" !important;
}
header img {
  height: 13em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.MainSec {
  position: relative;
  z-index: 2;
  bottom: 0.75em;
  border-radius: 50px;
  margin-top: 40vh;
  padding: 30px;
  background-color: #dad8d8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.MainSec .Dishes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  justify-content: left;
  align-items: flex-start;
  padding-bottom: 3em;
}
.MainSec .Dishes h1 {
  font-family: "Shrikhand";
  font-weight: 200;
}
.MainSec .Dishes h2 {
  position: relative;
  font-size: medium;
  font-weight: 400;
  padding-bottom: 0.5em;
}
.MainSec .click {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-style: solid;
  border-radius: 20px;
  border: #100221;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
  height: 4.5em;
  width: 100%;
  font-weight: 600;
  overflow: hidden;
  background-color: white;
}
.MainSec .click--item {
  width: 100%;
  padding-left: 2%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}
.MainSec .click--item h3 {
  margin: 0em;
}
.MainSec .click--item p {
  margin-left: 0em;
  font-weight: 100;
}
.MainSec .click .click--price {
  padding: 1.5em;
  transform: translateX(102%);
  transition: transform 1000ms;
}
.MainSec .click:hover .TickBox, .MainSec .click:active .TickBox, .MainSec .click:hover .click--price, .MainSec .click:active .click--price {
  transform: translateX(0);
}

.TickBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #5ac0a4;
  width: 20%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  transition: transform 1000ms;
  transform: translateX(102%);
}

.tick-green {
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5ac0a4;
  background-color: white;
  border-radius: 50px;
}

.OrderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;
}
.OrderButton .btnExplore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 3em;
  border-style: solid;
  border: #9356DC;
  border-radius: 40px;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
  padding-left: 4.5em;
  padding-right: 4.5em;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #424141;
  color: white;
  width: 100%;
  padding: 1em;
  gap: 0.5em;
}
footer h4 {
  font-family: "Shrikhand";
  font-weight: 20;
  margin: 0.2em;
  padding-left: 0.5em;
}
footer .NavList {
  list-style: none;
  padding-left: 1em;
}
footer .NavItem {
  padding: 0.2em;
}/*# sourceMappingURL=bastille.css.map */