@import './utilities.scss';


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.heroimage {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

header {
    @include flexCenterCol;
    background-color: #f1f1f1e7;

    .logo {
        @include flexCenterRow;
        background-color: white;
        width: 100%;
        font-size: large;
        height: 3em;

        h1 {
            font-family: $logoFont !important;
            width: 100%;
        }
        .leftarrow {
            width: 45%;
            padding-left: 2em;
            
        }
    }

    img {
        height: 13em;
        object-fit: cover;
        width: 100%;
    }
}

.MainSec {
    position: relative;
    z-index: 2;
    border-radius: 50px;
    margin-top: 40vh;
    padding: 30px;
    background-color: rgb(244, 241, 241);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    .Dishes {
        @include flexCenterCol;
        gap: 2em;
        justify-content: left;
        align-items: flex-start;
        padding-bottom: 3em;

        h1 {
            font-family: $logoFont;
            font-weight: 200;
        }

        h2 {
            @include GreenUnderline;
        }
    }

    .click {
        @include flexCenterRow;
        border-style: solid;
        border-radius: 20px;
        border: #100221;
        box-shadow: $shadow;
        height: 4.5em;
        width: 100%;
        font-weight: 600;
        overflow: hidden;
        background-color: white;

        &--item {
            width: 100%;
            padding-left: 2%;
            padding-bottom: 3%;
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0em;
                padding-top: 1em;
            }

            p {
                margin-left: 0em;
                font-weight: 100;
                padding-top: 0.5em;
            }
        }

        .click--price {
            padding: 1.5em;
            transform: translateX(102%);
            transition: transform 1000ms;
        }

        &:hover .TickBox,
        &:active .TickBox,
        &:hover .click--price,
        &:active .click--price {
            transform: translateX(0);
        }
    }
}

.TickBox {
    @include TickBox;
}



.OrderButton {
    @include flexCenterCol;
    padding: 3em;

    .btnExplore {
        @include flexCenterCol;
        @include button;
        padding-left: 4.5em;
        padding-right: 4.5em;
    }
}


.OrderButton {
    @include flexCenterCol;
    padding: 3em;
    background-color: rgb(244, 241, 241);

    .btnExplore {
        @include flexCenterCol;
        @include button;
        padding-left: 4.5em;
        padding-right: 4.5em;
    }
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: #424141;
    color: white;
    width: 100%;
    padding: 1em;
    gap: 0.5em;

    h4 {
        font-family: $logoFont;
        font-weight: 20;
        margin: 0.2em;
        padding-left: 0.5em;
    }

    .NavList {
        list-style: none;
        padding-left: 1em;
    }
    .NavItem {
        padding: 0.2em;
    }
}