@import './utilities.scss';

/* HEADER */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header {
    @include flexCenterCol;
    background-color: rgb(244, 241, 241);

    .logo {
        @include flexCenterCol;
        background-color: white;
        width: 100%;
        font-size: large;
        height: 3em;

        h1 {
            font-family: $logoFont !important;
        }

    }

    .Location {
        @include flexCenter(row);
        background-color: #e6e6e6e7;
        width: 100%;
        height: 3em;
        text-align: center;
        padding-top: 10px;
        padding-right: 40px;

        .fa-location-dot {
            padding-right: 1em;
        }
    }

    .ExploreRestaurants {
        @include flexCenter(column);
        padding-bottom: 2em;
    }

    .btnExplore {
        @include button;
    }

    p {
        text-align: center;
        padding: 20px;
    }
}



.Options {
    &__Item {
        @include flexCenterRow;
    }
}


/* BODY */

.HowItWorks {
    @include flexCenterCol;
    padding: 20px;

    h3 {
        padding-right: 10em;
    }

    .Options {
        @include flexCenterCol;
        align-items: flex-start;
        gap: 20px;
    }

    .num {
        @include flexCenterRow;
        border-style: solid;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: $primaryColor;
        background-color: $primaryColor;
        color: white;
        text-align: center;
        position: relative;
        z-index: 2;
        left: 0.75em;
        font-size: 14px;

    }

    .select {
        @include flexCenterRow;
        justify-content: flex-start;
        gap: 20px;
        border-style: solid;
        border-radius: 20px;
        border: #100221;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
        height: 3.5em;
        flex-direction: row;
        min-width: 19em;
        width: 100%;
        padding: 2em;

        &:active,
        &:hover {
            background-color: lighten($primaryColor, 35%);

            i {
                color: $primaryColor;
            }
        }


    }
}


.Restaurants {
    @include flexCenterCol;
    padding-bottom: 3em;

    h3 {
        padding-right: 10em;
        padding-top: 2em;
    }

    .FoodCards {
        @include flexCenterCol;
        margin: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;


    }

    img {
        object-fit: cover;
        width: 100%;
        height: 65%;
    }

    .RestName {
        width: 100%;
        font-weight: bolder;
        padding: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            font-weight: 100;
            margin: 0em;
            width: 100%;
        }

        h4 {
            display: inline-flex;
            width: fit-content;
            max-width: 50%;
        }

    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.CardLink {
    text-decoration: none;
    padding-bottom: 15px;

    .Card {
        @include flexCenterCol;
        width: $card-width;
        height: $card-height;
        overflow: hidden;
        box-shadow: -1px 3px 50px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        position: relative;
        justify-content: space-between;
    }

    &:active,
    &:hover {
        text-decoration: none;
    }
}

.GreenBox1 {
    background-color: $tertiaryColor;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 60px;
    height: 30px;
    z-index: 2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
}

.GreenBox2 {
    background-color: $tertiaryColor;
    position: absolute;
    top: 61.5em;
    right: 3em;
    width: 15%;
    height: 4%;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: #424141;
    color: white;
    width: 100%;
    padding: 1em;
    gap: 0.5em;

    h4 {
        font-family: $logoFont;
        font-weight: 20;
        margin: 0.2em;
        padding-left: 0.5em;
    }

    .NavList {
        list-style: none;
        padding-left: 1em;
    }

    .NavItem {
        padding: 0.2em;
    }
}


@media only screen and (min-device-width: 924px) {}


/*# sourceMappingURL=styles.css.map */