a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

h4,
p {
  margin: 0px !important;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

header,
body {
  margin: 0px;
}

.heartGradientFull:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  animation-name: FillHeart;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.HeartWrapper {
  display: grid;
}
.HeartWrapper .fa-regular,
.HeartWrapper .fa-solid {
  grid-column: 1;
  grid-row: 1;
}
.HeartWrapper .fa-solid {
  opacity: 0%;
}
.HeartWrapper .fa-regular {
  color: black;
}

@keyframes FillHeart {
  from {
    transform: scale(0);
    transform-origin: bottom;
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.spinner {
  font-size: 75px;
  position: fixed;
  left: 45%;
  animation-name: rotate, appear;
  animation-duration: 1s, 3s;
  animation-direction: normal, reverse;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
}

header,
footer,
.HowItWorks,
.Restaurants {
  animation-name: appear;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.click {
  animation-name: appear;
}
.click:nth-child(1) {
  animation-duration: 1s;
  transition-delay: 1s;
}
.click:nth-child(2) {
  animation-duration: 2s;
  transition-delay: 2s;
}
.click:nth-child(3) {
  animation-duration: 3s;
  transition-delay: 3s;
}
.click:nth-child(4) {
  animation-duration: 4s;
  transition-delay: 4s;
}
.click:nth-child(5) {
  animation-duration: 5s;
  transition-delay: 5s;
}
.click:nth-child(6) {
  animation-duration: 6s;
  transition-delay: 6s;
}
.click:nth-child(7) {
  animation-duration: 7s;
  transition-delay: 7s;
}
.click:nth-child(8) {
  animation-duration: 8s;
  transition-delay: 8s;
}
.click:nth-child(9) {
  animation-duration: 9s;
  transition-delay: 9s;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 3px;
  background-color: #5ac0a4;
}

.btnExplore:hover,
.btnExplore:active {
  box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.6) !important;
  filter: brightness(120%) !important;
  opacity: 0.75;
}

/* HEADER */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(244, 241, 241);
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  font-size: large;
  height: 3em;
}
header .logo h1 {
  font-family: "Shrikhand" !important;
}
header .Location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(230, 230, 230, 0.9058823529);
  width: 100%;
  height: 3em;
  text-align: center;
  padding-top: 10px;
  padding-right: 40px;
}
header .Location .fa-location-dot {
  padding-right: 1em;
}
header .ExploreRestaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
}
header .btnExplore {
  height: 3em;
  border-style: solid;
  border: #9356DC;
  border-radius: 40px;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3) !important;
}
header p {
  text-align: center;
  padding: 20px;
}

.Options__Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* BODY */
.HowItWorks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.HowItWorks h3 {
  padding-right: 10em;
}
.HowItWorks .Options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.HowItWorks .num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-style: solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: #9356DC;
  background-color: #9356DC;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
  left: 0.75em;
  font-size: 14px;
}
.HowItWorks .select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  border-style: solid;
  border-radius: 20px;
  border: #100221;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  height: 3.5em;
  flex-direction: row;
  min-width: 19em;
  width: 100%;
  padding: 2em;
}
.HowItWorks .select:active, .HowItWorks .select:hover {
  background-color: #f2eafb;
}
.HowItWorks .select:active i, .HowItWorks .select:hover i {
  color: #9356DC;
}

.Restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Restaurants h3 {
  padding-right: 10em;
  padding-top: 2em;
}
.Restaurants .FoodCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.Restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 65%;
}
.Restaurants .RestName {
  width: 100%;
  font-weight: bolder;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Restaurants .RestName p {
  font-weight: 100;
  margin: 0em;
  width: 100%;
}
.Restaurants .RestName h4 {
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
}

.CardLink {
  text-decoration: none;
  padding-bottom: 15px;
}
.CardLink .Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  overflow: hidden;
  box-shadow: -1px 3px 50px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  justify-content: space-between;
}
.CardLink:active, .CardLink:hover {
  text-decoration: none;
}

.GreenBox1 {
  background-color: #99E2D0;
  position: absolute;
  top: 10%;
  right: 5%;
  width: 60px;
  height: 30px;
  z-index: 2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgreen;
}

.GreenBox2 {
  background-color: #99E2D0;
  position: absolute;
  top: 61.5em;
  right: 3em;
  width: 15%;
  height: 4%;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #424141;
  color: white;
  width: 100%;
  padding: 1em;
  gap: 0.5em;
}
footer h4 {
  font-family: "Shrikhand";
  font-weight: 20;
  margin: 0.2em;
  padding-left: 0.5em;
}
footer .NavList {
  list-style: none;
  padding-left: 1em;
}
footer .NavItem {
  padding: 0.2em;
}

/*# sourceMappingURL=homepage.css.map */