h4,
p {
  margin: 0px !important;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

/* HEADER */
.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  overflow: hidden;
  box-shadow: 12px 27px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 241, 241, 0.9058823529);
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  font-size: large;
  height: 3em;
}
header .logo h1 {
  font-family: "Shrikhand" !important;
}
header .Location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(230, 230, 230, 0.9058823529);
  width: 100%;
  height: 3em;
  margin: 0em;
}
header .Location .fa-location-dot {
  padding-right: 1em;
}
header .ExploreRestaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
}
header .btnExplore {
  height: 3em;
  border-style: solid;
  border: #9356DC;
  border-radius: 40px;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Options__Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* BODY */
.HowItWorks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HowItWorks h3 {
  padding-right: 10em;
}
.HowItWorks .Options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.HowItWorks .num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-style: solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: #9356DC;
  background-color: #9356DC;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
  left: 0.75em;
  font-size: 14px;
}
.HowItWorks .select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  border-style: solid;
  border-radius: 20px;
  border: #100221;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  height: 3.5em;
  flex-direction: row;
  min-width: 19em;
  width: 100%;
  padding: 2em;
}
.HowItWorks .select:active, .HowItWorks .select:hover {
  background-color: #f2eafb;
}
.HowItWorks .select:active i, .HowItWorks .select:hover i {
  color: #9356DC;
}

.Restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Restaurants h3 {
  padding-right: 10em;
}
.Restaurants .FoodCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5em;
}
.Restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 65%;
}
.Restaurants .restName {
  width: 100%;
  font-weight: bolder;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Restaurants .restName p {
  font-weight: 100;
  margin: 0em;
  width: 100%;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #424141;
  color: white;
  width: 100%;
  padding: 1em;
  gap: 0.5em;
}
footer h4 {
  font-family: "Shrikhand";
  font-weight: 20;
  margin: 0.2em;
  padding-left: 0.5em;
}
footer li {
  list-style: none;
  padding-left: 1em;
  gap: 5em;
}

/*# sourceMappingURL=homepage.css.map */