$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0; 
$midBorderRadius: 40px;
$shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.3);
$logoFont: 'Shrikhand';
$card-width: 300px;
$card-height: 200px;


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenterCol {
    @include flexCenter(column);
}

@mixin button {
    height: 3em;
        border-style: solid;
        border: $primaryColor;
        border-radius: $midBorderRadius;
        color: white;
        background: linear-gradient(170deg, $secondaryColor, $primaryColor);
        box-shadow: $shadow;
    }

/* HEADER */

header {
    @include flexCenterCol;
    background-color: #f1f1f1e7;
    .logo {
        @include flexCenterCol;
        background-color: white;
        width: 100%;
        font-size: large;
        height: 3em;
            h1 {
        font-family: $logoFont !important;
        }
    }
    .Location {
        @include flexCenter(row);
        background-color: #e6e6e6e7;
        width: 100%;
        height: 3em;
        margin: 0em;
            .fa-location-dot {
                padding-right: 1em;
            }
    }   
    .ExploreRestaurants {
        @include flexCenter(column);
        padding-bottom: 2em;
    }
    .btnExplore {
        @include button;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

/* BODY */

.HowItWorks {
    @include flexCenterCol;
        h3 {
            padding-right: 10em;
        }
        .Options .num .select {
            flex-direction: row;
        }
            .num {
                border-style: solid;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: $primaryColor;
                background-color: $primaryColor;
                color: white;
                text-align: center;
                position: relative;
                z-index: 2;
                left: -20%;  
            } 
            .select {
                border-style: solid;
                border-radius: 20px;
                border: #100221;
                box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
                height: 2em;
                width: 100%;
    }
}


.Restaurants {
    @include flexCenterCol;
        h3 {
            padding-right: 10em;
        }
        .FoodCards div {
            @include flexCenterCol; 
            width: $card-width;
            height: $card-height;
            overflow: hidden;
            box-shadow: 12px 27px 15px -3px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin: 0.5em;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 65%;
        }
        .restName {
            justify-content: left !important;
            align-items: flex-start !important;
            font-weight: bolder; 
            padding: 0.5em;
                p {
                    font-weight: 100;
                    margin: 0em;
                }
        }
    }




/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: #424141;
    color: white;
    width: 100%;
    padding: 1em;
    gap: 0.5em;
        h4 {
            font-family: $logoFont;
            font-weight: 20;
            margin: 0.2em;
            padding-left: 0.5em;
        }
        li {
            list-style: none;
            padding-left: 1em;
            gap: 5em;
        }
    }


/*# sourceMappingURL=styles.css.map */