$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$midBorderRadius: 40px;
$shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
$logoFont: 'Shrikhand';
$card-width: 300px;
$card-height: 200px;


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenterCol {
    @include flexCenter(column);
}

@mixin flexCenterRow {
    @include flexCenter(row);
}


h4,
p {
    margin: 0px !important;
    margin-block-start: 0em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header,
body {
    margin: 0px;
}

@mixin button {
    height: 3em;
    border-style: solid;
    border: $primaryColor;
    border-radius: $midBorderRadius;
    color: white;
    background: linear-gradient(170deg, $secondaryColor, $primaryColor);
    box-shadow: $shadow;
}

@mixin textGradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(170deg, $secondaryColor, $primaryColor);
}

.heartGradientFull {
    @include textGradient();
}

.HeartWrapper {
    display: grid;

    .fa-regular,
    .fa-solid {
        grid-column: 1;
        grid-row: 1;
    }

    .fa-solid {
        opacity: 0%;
    }

    .fa-regular {
        color: black
    }

    &:hover,
    &:active {

        .fa-solid {
            opacity: 100%;
        }

        .fa-regular {
            @include textGradient();
        }
    }
}

@mixin GreenUnderline {
    position: relative;
    font-size: medium;
    font-weight: 400;
    padding-bottom: 0.5em;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 3px;
    background-color: #5ac0a4;
}