$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$midBorderRadius: 40px;
$shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
$logoFont: 'Shrikhand';
$card-width: 300px;
$card-height: 200px;


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenterCol {
    @include flexCenter(column);
}

@mixin flexCenterRow {
    @include flexCenter(row);
}


h4,
p {
    margin: 0px !important;
    margin-block-start: 0em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header,
body {
    margin: 0px;
}

@mixin button {
    height: 3em;
    border-style: solid;
    border: $primaryColor;
    border-radius: $midBorderRadius;
    color: white;
    background: linear-gradient(170deg, $secondaryColor, $primaryColor);
    box-shadow: $shadow;
}

@mixin textGradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(170deg, $secondaryColor, $primaryColor);
}

.heartGradientFull:active {
    @include textGradient();

    animation-name: FillHeart;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.HeartWrapper {
    display: grid;

    .fa-regular,
    .fa-solid {
        grid-column: 1;
        grid-row: 1;
    }

    .fa-solid {
        opacity: 0%;
    }

    .fa-regular {
        color: black
    }

}

.spinner {
    font-size: 75px;
    position: fixed;
    left: 45%;
    animation-name: rotate, appear;
    animation-duration: 1s, 3.5s;
    animation-direction: normal, reverse;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: none, forwards;

}

header,
footer,
.HowItWorks,
.Restaurants {
    animation-name: appear;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes FillHeart {
    from {
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}





@mixin TickBox {
    @include flexCenterRow;
    background-color: rgb(90, 192, 164, 0.6);
    width: 100px;
    height: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    transition: transform 1000ms;
    transform: translateX(102%);


    .tick-green {
        width: 30%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5ac0a4;
        background-color: white;
        border-radius: 50px;
    }
}




@mixin GreenUnderline {
    position: relative;
    font-size: medium;
    font-weight: 400;
    padding-bottom: 0.5em;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 3px;
    background-color: #5ac0a4;
}